services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    user: "0:0"
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      GOOGLE_APPLICATION_CREDENTIALS: /secrets/olivia-service-account-key.json
    volumes:
      - ./olivia-service-account-key.json:/secrets/olivia-service-account-key.json:ro

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    depends_on:
      - backend
